* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #222;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #111827;
    color: white;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
}

.buttons {
    margin-top: 25px;
}

.btn {
    background: white;
    color: #2563eb;
    padding: 12px 25px;
    margin: 5px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn.outline {
    background: transparent;
    color: white;
    border: 2px solid white;
}

/* SECTIONS */
.section {
    padding: 70px 60px;
}

.section h2 {
    margin-bottom: 20px;
}

.gray {
    background: #f3f4f6;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: white;
}
